/* navigation  */
#navbar{
    flex-direction: column;
}
 #navbar ul li a{
    font-size: 1rem;
    padding:0px 7px;
    padding-bottom: 7px;
 }



/* home section  */
#home{
   
    height: 370px;
    padding: 3px 48px;
    margin: -37px 0px;
   
    
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 17px;
}



/* services section  */
#services {
    flex-direction: column;
}

#services .box {

}



/* client section  */
.client-item{
    
   flex-wrap: wrap;
  
}
.client-item{
    /* width: 66px; */
    padding: 2px 6px;
 }
 .client-item img{
/* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* flex-wrap: wrap; */
 }

/* contact section  */
#contact-box form{
    width: 80%;
}


/* footer section  */


/* utility classes  */
.h-primary{
    font-size: 39px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
